/*LIGHT*/

:root {
  //SIZES
  --finger-size: 44px;
  //COLORS (h-header, m-main, w-work, c-contact, g-general)
  --g-heading: #2e86de;
  --h-border-bottom: #d2e4f5;
  --h-logo: #2e86de;
  --h-menu-item: #000;
  --h-menu-item-hover: #ccc;
  --h-resume: #3080de;
  --h-resume-border: #3080de;
  --h-resume-hover-background: #3080de;
  --h-resume-hover-text: #fff;
  --h-mode-button-light-background: #dee2ed;
  --h-mode-button-dark-background: #1a1c20;
  --h-mode-button-circle: #fff;
  --m-heading-background-1: #64a0e6;
  --m-hi-message: #2172d2;
  --m-heading-background-2: #3080de;
  --g-html: #ef6026;
  --g-css: #2965f1;
  --g-js: #f7df1e;
  --g-vscode: #33a5f0;
  --g-vue: #3fb984;
}

/*DARK*/

.dark:root {
  --h-logo: #fff;
}
